/* styles.css */

/* body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
} */

/* #joystick {
    width: 150px;
    height: 150px;
    border: 1px solid black;
    border-radius: 50%;
    position: relative;
} */
#handle {
    width: 50px;
    height: 50px;
    background-color: gray;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#teleopButtonContainer {
    position: absolute;
    bottom: 100px;
    left: 20px;
}

#map-container {
    width: 580px;
    height: 580px;
    /* border: 2px solid black; */
}

#map_canvas {
    border: 2px solid rgb(98, 151, 110);
    position: relative;
    top: 0;
    left: 0;
}


/* #path_canvas {
    border: 2px solid black;
    position: relative;
    top: 0;
    left: 0;
} */

