<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <script src="https://cdn.jsdelivr.net/npm/easeljs@1/lib/easeljs.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/eventemitter2@6/lib/eventemitter2.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/roslib@1/build/roslib.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/tf2_websockets@latest/dist/tf2_websockets.min.js"></script>
    <script src="https://unpkg.com/quaternion"></script>

    <link rel="stylesheet" href="static/styles.css">

    <title>main robot viz</title>
    <!-- Add necessary scripts and stylesheets -->
</head>
<body>
    {% include 'teleop_key.html' %}
    {% include 'teleop_joy.html' %}
    {% include 'map_viz.html' %}

    <script type="module" src="static/map_viz.js"></script>
    
</body>
</html>
